- @upload_info = new_upload_video_info(@step)
= form_tag @upload_info[:url], :multipart => true, class:'f-video-upload' do
  .form-group
    = hidden_field_tag :token, @upload_info[:token]
    = label_tag :file
    = file_field_tag :file, class: 'form_control'
  = submit_tag "Upload video", class: 'btn btn-default'

