%ul.nav.nav-pills
  %li= link_to 'My courses', teacher_courses_path
  %li= link_to 'Back to course', edit_teacher_course_path(@step.course)


%h1 Step
.row
  .col-md-6
    %h3 Summary
    = render 'form'
    %h3 Exams
    .f-exam
      = render 'exam'
    %h3 Attachments
    = render 'teacher/attachments/form'
    = render 'teacher/attachments/list'
  .col-md-6
    %h3 Video
    = render 'video'

