%h1 Listing announcements

  - @announcements.each do |announcement|
    .well
      %h3= announcement.title
      %p= announcement.content
      %td= announcement.user
      %td= link_to 'Edit', edit_announcement_path(announcement)
      %td= link_to 'Destroy', announcement, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Announcement', new_announcement_path
