
%li
  = image_tag 'img/jura.jpg', class: 'user-avatar', alt: 'user-avatar'
%li
  %a.user-name.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}= current_user.username
  %ul#user-menu.dropdown-menu
    %li.mu-arrow
    %li.first= link_to 'Twoje kursy', account_path
    %li= link_to 'Edycja konta', edit_user_registration_path
    %li
    - if teacher?
      %li= link_to "Remove teacher role", remove_role_path(:teacher)
    - else
      %li
        = link_to "Add teacher role", add_role_path(:teacher)
    - if admin?
      %li= link_to "Remove admin role", remove_role_path(:admin)
    - else
      %li
        = link_to "Add admin role", add_role_path(:admin)
    - if cms_admin?
      %li= link_to "Remove cms admin role", remove_role_path(:cms_admin)
    - else
      %li
        = link_to "Add cms admin role", add_role_path(:cms_admin)

    -if admin?
      %li= link_to 'Admin Area', "/admin"
    -if cms_admin?
      %li= link_to 'CMS Area', "/cms_admin"
    -if teacher?
      %li= link_to 'Teacher Area', teacher_account_path

    %li.logout
      = link_to 'Logout', destroy_user_session_path, :method => :delete
