= form_for [:teacher,@course, @announcement] do |f|
  - if @announcement.errors.any?
    #error_explanation
      %h2= "#{pluralize(@announcement.errors.count, "error")} prohibited this announcement from being saved:"
      %ul
        - @announcement.errors.full_messages.each do |msg|
          %li= msg
  .field.form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'
  .field.form-group
    = f.label :content
    = f.text_area :content, class: 'form-control'
  .actions
    = f.submit 'Save', class: 'btn btn-default'
    = link_to 'Back', teacher_course_announcements_path(@course), class: 'btn btn-warning'
