%h1 Listing announcements

%table
  %tr
    %th Title
    %th Content
    %th
    %th
    %th

  - @announcements.each do |announcement|
    %tr
      %td= announcement.title
      %td= announcement.content
      %td= link_to 'Show', announcement
      %td= link_to 'Edit', edit_announcement_path(announcement)
      %td= link_to 'Destroy', announcement, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Announcement', new_teacher_course_announcement_path(@course)
