= form_for([:teacher,@course], :html => { :class => :form }) do |f|
  -if @course.errors.any?
    %ul
      - @course.errors.full_messages.each do |msg|
        %li= msg 
  .form-group
    = f.label :name, "Name"
    = f.text_field :name, :class => 'form-control'
  .form-group
    = f.label :description,  "Description"
    = f.text_area :description, :class => 'form-control tinymce'
  .group.navform
    - if @course.new_record?
      %button.btn.btn-primary.btn-block{type: "submit"}
        Create
    - else
      %button.btn.btn-primary{type: "submit"}
        Save
= tinymce 