%h3
  Course Steps
  = link_to 'Add step', new_teacher_course_step_path(@course), class: 'edit-link'
  
#accordion.panel-group
  -@course.steps.each_with_index do |step,idx|
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse#{idx}"}
            = step.name
          = link_to 'edit', edit_teacher_course_step_path(@course, step), class: 'edit-link'
      .panel-collapse.collapse{id:"collapse#{idx}", class: "#{'in' if idx == 0 }" }
        .panel-body
          =step.description.html_safe
          =link_to 'Delete', [:teacher,@course,step], method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' }


