%h1 Course
= link_to 'Show course', @course, class: 'btn btn-primary'

-if @course.published?
  = link_to 'Unpublish', draft_teacher_course_path(@course), class: 'btn btn-warning'
-else
  = link_to 'Publish', publish_teacher_course_path(@course), class: 'btn btn-success'

= link_to "Show Announcements", teacher_course_announcements_path(@course), class: 'btn btn-primary'
-if @course.forum
  = link_to "Show Forum", [:teacher, @course, @course.forum], class: 'btn btn-primary'
-else
  = link_to "Create Forum", attach_new_teacher_course_forum_path(@course), class: 'btn btn-warning'
.row
  .col-md-6
    = render 'form'
    = render 'categories'
    %h3 Attachments
    = render 'teacher/attachments/form'
    = render 'teacher/attachments/list'
  .col-md-6
    = render 'logo'
    = render 'steps'
    


