%h1 Course
-if @course.published?
  = link_to 'Unpublish', draft_teacher_course_path(@course)
-else
  = link_to 'Publish', publish_teacher_course_path(@course)

.row
  .col-md-6
    %h3 Summary
    = render 'form'
    %h3 Categories
    = render 'categories'
    %h3 Attachments
    = render 'teacher/attachments/form'
    = render 'teacher/attachments/list'
  .col-md-6
    %h3 Course Steps
    = render 'steps'
    


