.right.controls= link_to "Back to Forum", teacher_course_forum_path(@course, @forum)
.module
  .module_header
    = @topic.title
    %span.right.controls
      = link_to "Edit", edit_teacher_course_forum_topic_path(@course, @forum, @topic)
      = link_to "Delete", [:teacher, @course, @forum, @topic], :confirm => "Are you sure?", :method => :delete
      = link_to @topic.sticky ? "Unstick" : "Sticky", {:controller => 'topics', :action => 'update', :topic => {:sticky => @topic.sticky ? "false" : "true" }}, :method => :put
      = link_to @topic.locked ? "Unlock" : "Lock", {:controller => 'topics', :action => 'update', :topic => {:locked => @topic.locked ? "false" : "true" }}, :method => :put
  %div
    %table
      - @topic.posts.each do |post|
        %tr
          %td.post_author{rowspan: "2"}
            %span.name= post.user.username
            %span.avatar
              / This space reserved for Avatar
            %span.info.smaller
              / Posts #{post.user.posts.size}
              %br/
              Registered #{post.user.created_at.to_s(:joined)}
              %br/
          %td.post_header
            %span.left.post_date.smaller
              Posted #{post.created_at}
            %span.right.controls
              = link_to "Reply", new_teacher_course_forum_topic_post_path(@course, @forum, @topic)
              / = link_to "Quote", new_topic_post_path(@topic, :quote => post)
              = link_to "Edit", edit_teacher_course_forum_topic_post_path(@course, @forum, @topic, post)
              = link_to "Delete", [:teacher, @course, @forum, @topic, post], :confirm => "Are you sure?", :method => :delete
        %tr
          %td.post_body
            = simple_format(post.body)