- content_for :header do
  = render 'nowe_widoki/course/header', course: @course
- content_for :left_menu do
  = render 'nowe_widoki/course/left_menu', course: @course


%h3 Announcements
- @course.announcements.each do |announcement|
  .panel.panel-default
    .panel-heading
      .panel-title.pull-right= announcement.created_at
      .panel-title.pull-left
        = announcement.title
      .clearfix
    .panel-body
      = announcement.content

.f-player-container
.f-exam-container

