.row
  .col-md-2
    =render 'courses/show/menu_sidebar', course: @course
  .col-md-8
    %h2
      = "#{@course.name}"
    
    %h3 Announcements
    - @course.announcements.each do |announcement|
      .panel.panel-default
        .panel-heading
          .panel-title.pull-right= announcement.created_at
          .panel-title.pull-left
            = announcement.title
          .clearfix
        .panel-body
          = announcement.content

  .col-md-2
    =render 'courses/show/progress_box', course: @course
    =render 'courses/show/attachments', course: @course

.f-player-container
.f-exam-container

