.row
  .col-md-3
    INTRODUCTION PAGE
.row
  .col-md-8
    %h2
      = "#{@course.name}"
    %br
    %p= "#{@course.description}".html_safe
  .col-md-4
    %rp
      -if student?
        -if enrolled? @course
          = link_to 'Go to class', @course, class: 'btn btn-success'
        -else
          = link_to 'Enroll', enroll_course_path(@course), class: 'btn btn-primary'
    %h3 Course Steps
    #accordion.panel-group
      -@course.steps.each_with_index do |step, idx|
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse#{idx}"}
                = step.name
          .panel-collapse.collapse{id:"collapse#{idx}"}
            .panel-body
              %p=step.description.html_safe
.f-player-container
=render 'courses/intro/reviews', course: @course

