%h2 Summary
= "Name: #{@course.name}"
%p
  = "Description #{@course.description}"

%h3 Course Steps
#accordion.panel-group
  -@course.steps.each_with_index do |step, idx|
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse#{idx}"}
            = step.name
      .panel-collapse.collapse{id:"collapse#{idx}"}
        .panel-body
          = raw yt_client.my_video(step.video.yt_id).embed_html if step.video

          %p=step.description