- content_for :header do
  = render 'nowe_widoki/course/header'
- content_for :left_menu do
  = render 'nowe_widoki/course/left_menu'

.add-box-middle
  Material reklamowy 900x106
.options-wrapper.multiple-box
  .options-header
    %span.options-box-name
      %span I Tydzień
    %span.header-box-arrow.arrow-down
  .options-box-content.open
    .courses-wrapper-box
      .courses-sortable.courses-items.ui-sortable
        .course-content
          .course-item
            = image_tag "course/kurs1.jpg", class: 'img-responsive'
            .course-name
              Lorem ipsum dolor sit amet, consectetur
            = image_tag "course/play.png", class: 'play-icon', alt: "Play course"
            .watched obejrzany
        .course-content
          .course-item
            = image_tag "course/kurs1.jpg", class: 'img-responsive'
            .course-name
              Lorem ipsum dolor sit amet, consectetur
            = image_tag "course/play.png", class: 'play-icon', alt: "Play course"
            .watched obejrzany
        .course-content
          .course-item
            = image_tag "course/kurs1.jpg", class: 'img-responsive'
            .course-name
              Lorem ipsum dolor sit amet, consectetur
            = image_tag "course/play.png", class: 'play-icon', alt: "Play course"
            .watched obejrzany
        .course-content
          .course-item
            = image_tag "course/kurs1.jpg", class: 'img-responsive'
            .course-name
              Lorem ipsum dolor sit amet, consectetur
            = image_tag "course/play.png", class: 'play-icon', alt: "Play course"
            .watched obejrzany
    .courses-download-files
      .cdf-content
        .cdf-headline
          %i.fa.fa-cloud-download.fa-2x
          %span.pull-right
            Materiały
            %br/
            do pobrania
      %ul.cdf-list
        %li
          %a{href: ""} plik do pobrania 1
        %li
          %a{href: ""} plik 2
        %li
          %a{href: ""} plik do pobrania 3
        %li
          %a{href: ""} plik do pobrania 4
.options-wrapper.multiple-box
  .options-header
    %span.options-box-name
      %span I Tydzień
    %span.header-box-arrow.arrow-down
  .options-box-content.open
    .courses-wrapper-box
      .courses-sortable.courses-items.ui-sortable
        .course-content
          .course-item
            = image_tag "course/kurs1.jpg", class: 'img-responsive'
            .course-name
              Lorem ipsum dolor sit amet, consectetur
            = image_tag "course/play.png", class: 'play-icon', alt: "Play course"
            .watched obejrzany
        .course-content
          .course-item
            = image_tag "course/kurs1.jpg", class: 'img-responsive'
            .course-name
              Lorem ipsum dolor sit amet, consectetur
            = image_tag "course/play.png", class: 'play-icon', alt: "Play course"
            .watched obejrzany
        .course-content
          .course-item
            = image_tag "course/kurs1.jpg", class: 'img-responsive'
            .course-name
              Lorem ipsum dolor sit amet, consectetur
            = image_tag "course/play.png", class: 'play-icon', alt: "Play course"
            .watched obejrzany
        .course-content
          .course-item
            = image_tag "course/kurs1.jpg", class: 'img-responsive'
            .course-name
              Lorem ipsum dolor sit amet, consectetur
            = image_tag "course/play.png", class: 'play-icon', alt: "Play course"
            .watched obejrzany
    .courses-download-files
      .cdf-content
        .cdf-headline
          %i.fa.fa-cloud-download.fa-2x
          %span.pull-right
            Materiały
            %br/
            do pobrania
      %ul.cdf-list
        %li
          %a{href: ""} plik do pobrania 1
        %li
          %a{href: ""} plik 2
        %li
          %a{href: ""} plik do pobrania 3
        %li
          %a{href: ""} plik do pobrania 4
.options-wrapper.multiple-box
  .options-header
    %span.options-box-name
      %span I Tydzień
    %span.header-box-arrow.arrow-down
  .options-box-content.open
    .courses-wrapper-box
      .courses-sortable.courses-items.ui-sortable
        .course-content
          .course-item
            = image_tag "course/kurs1.jpg", class: 'img-responsive'
            .course-name
              Lorem ipsum dolor sit amet, consectetur
            = image_tag "course/play.png", class: 'play-icon', alt: "Play course"
            .watched obejrzany
        .course-content
          .course-item
            = image_tag "course/kurs1.jpg", class: 'img-responsive'
            .course-name
              Lorem ipsum dolor sit amet, consectetur
            = image_tag "course/play.png", class: 'play-icon', alt: "Play course"
            .watched obejrzany
        .course-content
          .course-item
            = image_tag "course/kurs1.jpg", class: 'img-responsive'
            .course-name
              Lorem ipsum dolor sit amet, consectetur
            = image_tag "course/play.png", class: 'play-icon', alt: "Play course"
            .watched obejrzany
        .course-content
          .course-item
            = image_tag "course/kurs1.jpg", class: 'img-responsive'
            .course-name
              Lorem ipsum dolor sit amet, consectetur
            = image_tag "course/play.png", class: 'play-icon', alt: "Play course"
            .watched obejrzany
    .courses-download-files
      .cdf-content
        .cdf-headline
          %i.fa.fa-cloud-download.fa-2x
          %span.pull-right
            Materiały
            %br/
            do pobrania
      %ul.cdf-list
        %li
          %a{href: ""} plik do pobrania 1
        %li
          %a{href: ""} plik 2
        %li
          %a{href: ""} plik do pobrania 3
        %li
          %a{href: ""} plik do pobrania 4
.options-wrapper.multiple-box
  .options-header
    %span.options-box-name
      %span I Tydzień
    %span.header-box-arrow.arrow-down
  .options-box-content.open
    .courses-wrapper-box
      .courses-sortable.courses-items.ui-sortable
        .course-content
          .course-item
            = image_tag "course/kurs1.jpg", class: 'img-responsive'
            .course-name
              Lorem ipsum dolor sit amet, consectetur
            = image_tag "course/play.png", class: 'play-icon', alt: "Play course"
            .watched obejrzany
        .course-content
          .course-item
            = image_tag "course/kurs1.jpg", class: 'img-responsive'
            .course-name
              Lorem ipsum dolor sit amet, consectetur
            = image_tag "course/play.png", class: 'play-icon', alt: "Play course"
            .watched obejrzany
        .course-content
          .course-item
            = image_tag "course/kurs1.jpg", class: 'img-responsive'
            .course-name
              Lorem ipsum dolor sit amet, consectetur
            = image_tag "course/play.png", class: 'play-icon', alt: "Play course"
            .watched obejrzany
        .course-content
          .course-item
            = image_tag "course/kurs1.jpg", class: 'img-responsive'
            .course-name
              Lorem ipsum dolor sit amet, consectetur
            = image_tag "course/play.png", class: 'play-icon', alt: "Play course"
            .watched obejrzany
    .courses-download-files
      .cdf-content
        .cdf-headline
          %i.fa.fa-cloud-download.fa-2x
          %span.pull-right
            Materiały
            %br/
            do pobrania
      %ul.cdf-list
        %li
          %a{href: ""} plik do pobrania 1
        %li
          %a{href: ""} plik 2
        %li
          %a{href: ""} plik do pobrania 3
        %li
          %a{href: ""} plik do pobrania 4


/ .row
/   .col-md-2
/     =render 'courses/show/menu_sidebar', course: @course
/   .col-md-8
/     %h2
/       = "#{@course.name}"

/     - if @course.steps.first && @course.steps.first.videos.first
/       =link_to 'Play', play_video_path(@course.steps.first.videos.first), class: 'btn btn-default', remote: true
/     =render 'courses/show/announcements'
/     %p
/     %h3 Profesors
/     - User.with_role(:moderator, @course).each do |teacher|
/       = render "shared/teacher_box", user: teacher
/   .col-md-2
/     =render 'courses/show/progress_box', course: @course
/     =render 'courses/show/attachments', course: @course

.f-player-container
.f-exam-container

