.row
  .col-md-8
    %h2 Summary
    = "Name: #{@course.name}"
    %br
    - if @course.steps.first && @course.steps.first.videos.first
      %button.btn.btn-success{"data-toggle" => 'modal', 'data-target' => ".modal0"} 
        Play first video
    %p= "Description #{@course.description.html_safe}".html_safe
  .col-md-4
    %h3 Course Steps
    #accordion.panel-group
      -@course.steps.each_with_index do |step, idx|
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse#{idx}"}
                = step.name
          .panel-collapse.collapse{id:"collapse#{idx}"}
            .panel-body
              / # = raw yt_client.my_video(step.videos.first.yt_id).embed_html if step.videos.first
              %button.btn.btn-success{"data-toggle" => 'modal', 'data-target' => ".modal#{idx}"}
                Play
              %p=step.description.html_safe
        .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1", class: "modal#{idx}"}
          .modal-dialog.modal-lg
            .modal-content
              .modal-body
                = raw yt_client.my_video(step.videos.first.yt_id).embed_html_with_width(850) if step.videos.first