= form_for [:teacher,@course, @step,@exam], remote: true do |f|
  - if @exam.errors.any?
    .error_messages
      %h2
        = pluralize(@exam.errors.count, "error")
        prohibited this exam from being saved:
      %ul
        - @exam.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br/
    = f.text_field :name
  = f.fields_for :questions do |builder|
    = render 'question_fields', f: builder
  = link_to_add_fields "Add Question", f, :questions
  .actions
    = f.submit