!!!
%html
  %head
    %title Nuedu
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .container
      = render 'menu/header'
      - if notice
        %p.notice.alert.alert-success= notice
      - if alert
        %p.alert.alert.alert-danger= alert
      = yield
      .footer
        %p © Razorbear 2014