!!!
%html
  %head
    %title Nuedu
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    = stylesheet_link_tag    "course/application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "//www.google.com/jsapi", "data-turbolinks-track" => true
    = javascript_include_tag :modernizr
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/swfobject/2.1/swfobject.js", "data-turbolinks-track" => true
    = javascript_include_tag "course/application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .page
      #main-container
        .mc-left-column
          = yield :left_menu
        .mc-right-column
          = yield :header
          #main-content.one-column
            .main-content-left
              = yield